<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" title="Gotjeh">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Beranda</a>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-item nav-link dropbtn">Pekerjaan
                        <img src="/img/Drop-down.png" class="arrow" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="height: 15px; width: 15px;"></a>
                    <div class=" dropdown-content">
                        <a href="/job">Cari Pekerjaan</a>
                        <a href="/post-job">Posting Pekerjaan</a>
                    </div>
                </li>
                <a class="nav-item nav-link" href="/course">Kursus</a>
                <a class="nav-item nav-link" href="/faq">F.A.Q</a>
                <a class="nav-item nav-link" href="/about">Tentang Kami</a>
                <li class="nav-item dropdown">
                    <img src="/img/avatar-pict.jpg" class="avatar" alt="avatar-users" href="#" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="height: 30px; width: 30px; margin-top: 6px;">
                    <img src="/img/Drop-down.png" class="arrow" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="height: 15px; width: 15px; margin-top: 6px;">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="list-dropdown">
                            <a class="dropdown-item" href="/profile/<%= session.user_id %> "><i
                                    class="fas fa-user-alt"></i>
                                Profil</a>
                        </div>
                        <div class="list-dropdown">
                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Keluar</a>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</nav>
<!-- End of Navbar-->