<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" title="Gotjeh">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Beranda</a>
                <a class="nav-item nav-link" href="/job">Pekerjaan</a>
                <a class="nav-item nav-link" href="/course">Kursus</a>
                <a class="nav-item nav-link" href="/faq">F.A.Q</a>
                <a class="nav-item nav-link" href="">Tentang Kami</a>
                <a class="nav-item btn btn-warning" href="/login" style="width: 100px;">Masuk</a>
            </div>
        </div>
    </div>
</nav>
<!-- End of Navbar-->