<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/logo.png" title="Gotjeh">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home</a>
                <a class="nav-item nav-link" href="">F.A.Q</a>
                <a class="nav-item nav-link" href="">About Us</a>
                <a class="nav-item nav-link" href="/page/course">Course</a>
                <a class="nav-item nav-link" href="/page/job">Job</a>
                <a class="nav-item btn btn-warning" href="/auth/signin">Login</a>
            </div>
        </div>
    </div>
</nav>
<!-- End of Navbar-->