body {
    font-family: Poppins;
    background-color: #f9f9f9;
}

/* Sidebar */
/* General Sidebar */
.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0f1134;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Logo */
.navbar-brand {
    float: left;
    margin-left: 40px;
}

/* Burger Button */
.dropbtn {
    margin-top: 25px;
    cursor: pointer;
    margin-left: 45px;
}

/*  */
.dropdown {
    text-align: center;
}

/* Isi Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    border-radius: 10px;
    min-width: 221px;
    overflow: auto;
    margin-left: 66px;
    margin-top: 15px;
    z-index: 1;
}
  
.dropdown a:hover {
    background-color: white;
}

/* Isi Dropdown */
.sidenav a {
    padding: 6px 8px 6px 16px;
    font-family: Poppins;
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
    color: black;
    display: block;
    text-decoration: none;
}    

/* For Show Content Dropdown */
.show {display: block;}

/* Part of Materi (Below Head) */
.materi {
    margin-left: 75px;
    margin-top: 15px;
    width: 230px;
}

h6 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    background-color: rgba(249, 249, 249, 0.2);
    border-radius: 5px;
}

.activ {
    background-color: #f5c116;
}

.nav-link:hover {
    background-color: #f5c116;
}

.tab-pane {
    margin-top: -138px;
}

/* Copyright */
#footer {
    color: #F9F9F9;
    font-size: 16px;
    height: 40px;
    margin-top: 25px;
}
/* End of Sidebar */

/* Right Side */
.main {
    margin-left: 420px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.typeform-widget {
    position: fixed;
    width: 945px; 
    height: 805px;
    margin-left: -95px;
}