body {
    background-color: #e5e5e5;
}

.for-pass {
    background-color: #F9F9F9;
    border-radius: 10px;
    width: 600px;
    height: 360px;
    margin-top: 130px;
}

.form-control {
    border: none;
    border-radius: 4px;
    height: 54px;
    background: #efefef;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #efefef;
}

#footer {
    color: black;
    text-align: center;
    font-size: 16px;
    height: 40px;
    margin-top: 95px;
}