body {
    background-color: #f9f9f9;
    font-family: Poppins;
}

/* Jumbotron General */
.jumbotron {
    background-image: url('/img/image-2.png');
    background-color: #0F1134;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.display-4 {
    font-weight: 700;
}

.sub-display {
    font-weight: 400;
}

/* Popular Course General */
.section-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #212121;
}

.pop-course1,
.pop-course2,
.pop-course3 {
    background: #F9F9F9;
    border: 1px solid rgba(33, 33, 33, 0.1);
    box-sizing: border-box;
}

.ds-course {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
}

/* desktop version */
@media (min-width: 992px) {

    /* Jumbotron */
    .jumbotron {
        margin-top: -76px;
        height: 100vh;
        width: 100%;
    }

    .display-4 {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        margin-top: 145px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        line-height: 46px;
    }

    .sub-display {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        margin-top: 30px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    .btn-join {
        background-color: #F5C116;
        height: 50px;
        width: 285px;
        border-radius: 10px;
        margin-top: 50px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 35px;
    }

    .btn-join:hover {
        display: inline-block;
        background-color: #f5c116;
        border-radius: 10px;
    }

    /* End of Jumbotron */

    /* Women Area */
    .img-cewek {
        margin-top: 125px;
        margin-left: 60px;
    }

    .dscrb-cwk {
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 616px;
        height: 210px;
        padding-top: 25px;
        margin: -400px 100px 0px 455px;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 37.5px;
    }

    .btn-seek {
        background-color: #F5C116;
        height: 40px;
        width: 215px;
        border-radius: 10px;
        font-size: 20px;
        line-height: 25px;
        margin-top: 20px;
    }

    .btn-seek:hover {
        display: inline-block;
        background-color: #cf9f00;
        border-radius: 10px;
    }

    /* End of Women Area */

    /* Popular Course */
    .section-title {
        font-size: 39px;
        line-height: 58px;
        margin-top: 200px;
    }

    .pop-course {
        border: 1px solid rgba(33, 33, 33, 0.1);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 0px;
        height: 380px;
        margin-top: 50px;
        margin-bottom: 100px;
        margin-inline: 38px;
        position: relative;
    }

    .foto {
        height: 231px;
        width: 302px;
    }

    .free,
    .premium {
        margin-left: 10px;
        border: 1px solid #121212;
        box-sizing: border-box;
        border-radius: 10px;
        text-align: center;
        line-height: 20px;
        margin-top: 15px;
        width: 89px;
        height: 24px;
        display: block;
        color: black;
    }

    h5 {
        font-size: 16px;
        line-height: 24px;
        color: #212121;
        margin-top: 20px;
        margin-right: 15px;
        margin-left: 15px;
        text-align: justify;
    }

    .btn-view {
        background-color: #F5C116;
        height: 44px;
        width: 201px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 20px;
        margin-top: -20px;
        padding-top: 10px;
    }

    .btn-view:hover {
        display: inline-block;
        background-color: #cf9f00;
        border-radius: 10px;
    }

    /* Posting Job */
    .posting-job {
        margin-top: 250px;
    }

    .post {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 39px;
        line-height: 58px;
        text-align: center;
    }

    .btn-post {
        background-color: #F5C116;
        height: 50px;
        width: 283px;
        border-radius: 10px;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 130px;
    }

    .pict-post {
        margin-top: -120px;
    }

    /* About Gotjeh */
    .section-title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 39px;
        line-height: 58px;
        margin-top: 150px;
    }

    .smalltron {
        background-color: #0F1134;
        margin-top: 35px;
        height: 290px;
    }

    .foto-testi {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin-top: 80px;
    }

    .name-age {
        width: 318px;
        height: 30px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #F9F9F9;
        margin-top: 94px;
    }

    .subdscrb {
        width: 938px;
        height: 48px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #F9F9F9;
        margin-top: 28px;
    }

    li.p-1 {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-bottom: -50px;
    }

    /* End of About Gotjeh */

    /* What We Have */
    .we-have {
        font-weight: 600;
        font-size: 39px;
        line-height: 58px;
        text-align: center;
        color: #212121;
        margin-top: 125px;
    }

    .angka {
        margin-top: 40px;
        font-style: normal;
        font-weight: 600;
        font-size: 49px;
        line-height: 73px;
    }

    .dsc-angka {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-top: 12px;
    }

    /* End of What We Have */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .display-4 {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .sub-display {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        margin-top: 40px;
    }

    .btn-join {
        background-color: #F5C116;
        height: 50px;
        width: 280px;
        border-radius: 10px;
        margin-top: 40px;
        font-size: 20px;
        font-weight: 600;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .display-4 {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .sub-display {
        font-size: 20px;
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        margin-top: 40px;
    }

    .btn-join {
        background-color: #F5C116;
        height: 50px;
        width: 280px;
        border-radius: 10px;
        margin-top: 40px;
        font-size: 20px;
        font-weight: 600;

    }
}