<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- font googleapis -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="/css/header-footer.css">

    <!-- Title -->
    <title>Gotjeh: Tanya Kami!</title>
</head>

<body>
    <% if (session.token) { %>
    <%- include("../partials/navbar-user.ejs") %>
    <% } else { %>
    <%- include("../partials/navbar.ejs") %>
    <% } %>

    <!-- Jumbotron -->
    <section class="jumbotron">
        <div class="container">
            <h3 class="upgrade-skill">Kamu Bertanya Gotjeh Menjawab</h3>
    </section>
    <!-- End of Jumbotron -->

    <!-- F.A.Q -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 faq">
                <div class="row">
                    <div class="col sub-faq">
                        <p class="title-sub">Bagaimana cara saya mencari pekerjaan freelance di Gotjeh?</p>
                        <p class="ds-sub">Caranya mudah, kamu bisa klik menu <b>"Pekerjaan"</b> di navigasi bar,
                            kemudian pilih cari pekerjaan di dropdown menu yang ditampilkan.</p>
                    </div>
                    <div class="col sub-faq">
                        <p class="title-sub">Bagaimana cara saya mencari kursus di Gotjeh?</p>
                        <p class="ds-sub">Klik tombol <b>"Kursus"</b> di bagian navigation bar, kemudian cari kursus
                            yang
                            kamu inginkan.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col sub-faq">
                        <p class="title-sub">Bagaiman cara saya membuat akun Gotjeh?</p>
                        <p class="ds-sub">Kamu bisa klik tombol <b>"Daftar Pekerjaan"</b> dan mengisi data diri kamu,
                            setelah
                            itu kamu bisa klik tombol <b>"Daftar"</b></p>
                    </div>
                    <div class="col sub-faq">
                        <p class="title-sub">Apakah Gotjeh memfasilitasi pekerjaan full-time?</p>
                        <p class="ds-sub">Untuk saat ini Gotjeh hanya memfasilitasi pekerjaan freelance.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col sub-faq">
                        <p class="title-sub">Bagaimana cara saya untuk mengunggah pekerjaan ke Gotjeh?</p>
                        <p class="ds-sub">Ketuk <b>"Posting Pekerjaan Baru"</b> yang berada pada landing page, atau kamu
                            bisa klik menu <b>"Pekerjaan"</b> di navigasi bar, kemudian pilih <b>"Posting Pekerjaan"</b>
                        </p>
                    </div>
                    <div class="col sub-faq">
                        <p class="title-sub">Apakah Gotjeh menyediakan kursus yang gratis?</p>
                        <p class="ds-sub">Tentu saja, kami menyediakan beberapa kursus gratis yang bisa kamu nikmati.
                        </p>
                    </div>
                </div>
                <p class="ask">Jika masih ada pertanyaan yang belum terjawab, silahkan hubungi kami<br>melalui e-mail di
                    <a href="mailto: support@gotjeh.com">support@gotjeh.com</a></p>
            </div>
        </div>
    </div>
    <!-- End of F.A.Q -->

    <%- include("../partials/footer.ejs") %>
</body>

</html>