<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- font googleapis -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Local CSS -->
    <link href="/css/profile-user.css" rel="stylesheet">

    <!-- Title -->
    <title>Gotjeh: Profil Kamu</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top" id="sideNav">
        <div class="sidebar text-center">
            <img src="/img/team-1.png" class="photo-profil">
            <p class="nama">Abdoel Memed</a></p>
            <a class="btn btn-edit" href="/profile/edit">Edit Profil</a>
            <p><a href="/" class="txt">Beranda</a></p>
            <p><a href="/job" class="txt">Pekerjaan</a></p>
            <p><a href="/course" class="txt">Kursus</a></p>
            <p><a href="/faq" class="txt">F.A.Q</a></p>
            <p><a href="/about" class="txt">Tentang Kami</a></p>
            <p><a href="/logout" class="txt">Keluar</a></p>
            <br><br><br>
            <!-- Copyright -->
            <div id="footer">
                <p>Copyright © <script>
                        document.write(new Date().getFullYear());
                    </script> Gotjeh</p>
            </div>
            <!-- End of Copyright -->
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 jumlah-kelas">
                <div class="row">
                    <div class="col">
                        <div class="left">
                            <p class="atas">6</p>
                            <p class="bawah">Semua Kelas</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="center">
                            <p class="atas">3</p>
                            <p class="bawah">Kelas Desain</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="left">
                            <p class="atas">3</p>
                            <p class="bawah">Digital Marketing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <a class="btn btn-add" href="">Tambah Kursus</a>
            </div>
            <div class="col-8">
                <div class="bar-srch">
                    <input type="text" name="search" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="row kursus">
            <div class="col-lg course">
                <a href="#"><img class="foto" src="/img/Graphic design course.jpg" alt="1"></a>
                <div class="free">
                    <p>Gratis</p>
                </div>
                <p class="ds-course">lorem insump dolor se ammet</p>
            </div>
            <div class="col-lg course">
                <a href="#"><img class="foto" src="/img/Graphic design course.jpg" alt="2"></a>
                <div class="free">
                    <p>Gratis</p>
                </div>
                <p class="ds-course">lorem insump dolor se ammet</p>
            </div>
            <div class="col-lg course">
                <a href="#"><img class="foto" src="/img/branding course.jpg" alt="3"></a>
                <div class="free">
                    <p>Gratis</p>
                </div>
                <p class="ds-course">lorem insump dolor se ammet</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
    </script>
</body>

</html>