<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon  -->
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">

    <!-- font googleapis -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="/css/isi-course.css" rel="stylesheet">

    <title>Gotjeh: Tempat Belajar!</title>

</head>

<body>
    <div class="sidenav">
        <!-- Head (Logo & Burger Button) -->
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="/"><img src="/img/logo.png" style="height: 50px; width: 109px;"
                    title="Gotjeh" /></a>
            <!-- Burger Button & Dropdown -->
            <div class="dropdown">
                <img src="/img/burger-button.png" onclick="myFunction()" class="dropbtn">
                <div id="myDropdown" class="dropdown-content">
                    <a href="/">Beranda</a>
                    <a href="/job">Pekerjaan</a>
                    <a href="/course">Kursus</a>
                    <a href="/faq">F.A.Q</a>
                    <a href="/logout">Keluar</a>
                </div>
            </div>
        </div>
        <!-- End of Head -->

        <!-- Materi -->
        <div class="materi">
            <h6><b>Materi</b></h6>
            <div class="row">
                <nav class="col left">
                    <ul class="nav flex-column">
                        <li><a href="#one" class="nav-link current text-white my-2 activ" data-toggle="tab">1. UX
                                Introduction
                            </a></li>
                        <li><a href="#two" class="nav-link text-white my-2" data-toggle="tab">2. Design Process
                            </a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Copyright -->
        <div id="footer">
            <center>
                <p>Copyright ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Gotjeh
                </p>
            </center>
        </div>
        <!-- End of Copyright -->

    </div>

    <div class="row main">
        <div class="col right">
            <div class="tab-content flex-center">
                <div class="tab-pane fade show form active" id="one">
                    <div class="typeform-widget"
                        data-url="https://form.typeform.com/to/rlwcUnqw?typeform-medium=embed-snippet"
                        data-transparency="50" data-hide-headers="true" data-hide-footer="true"></div>
                </div>
                <div class="tab-pane fade show form" id="two">
                    <div class="typeform-widget"
                        data-url="https://form.typeform.com/to/qYN0o4NM?typeform-medium=embed-snippet"
                        data-transparency="50" data-hide-headers="true" data-hide-footer="true">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        (function () {
            var qs, js, q, s, d = document,
                gi = d.getElementById,
                ce = d.createElement,
                gt = d.getElementsByTagName,
                id = "typef_orm",
                b = "https://embed.typeform.com/";
            if (!gi.call(d, id)) {
                js = ce.call(d, "script");
                js.id = id;
                js.src = b + "embed.js";
                q = gt.call(d, "script")[0];
                q.parentNode.insertBefore(js, q)
            }
        })()
    </script>
    <script>
        // Script For Burger Button
        /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Internal JavaScript -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("ul li a").click(function () {
                $("li a").removeClass('activ');
                $(this).addClass('activ');
            });
        });
    </script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>