<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- font googleapis -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="/css/header-footer.css">

    <!-- Title -->
    <title>Gotjeh: Where Jobs Find You</title>
</head>

<body>
    <%- include("../partials/navbar.ejs") %>
    <!-- Jumbotron -->
    <section class="jumbotron">
        <div class="container">
            <h3 class="upgrade-skill">Frequently Asked Question</h3>
    </section>
    <!-- End of Jumbotron -->

    <!-- F.A.Q -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 faq">
                <div class="row">
                    <div class="col sub-faq">
                        <p class="title-sub">Bagaimana cara saya mencari pekerjaan freelance di Gotjeh?</p>
                        <p class="ds-sub">Caranya mudah sekali, cukup mengetik freelance yang ingin dicari di kotak
                            pencarian.</p>
                    </div>
                    <div class="col sub-faq">
                        <p class="title-sub">Bagaimana cara saya mencari kursus di Gotjeh?</p>
                        <p class="ds-sub">Klik tombol “Kursus” di bagian navigation bar.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col sub-faq">
                        <p class="title-sub">Bagaiman cara saya membuat akun Gotjeh?</p>
                        <p class="ds-sub">Ketuk tombol “Masuk” lalu ketuk tombol “Daftar” dan masukan data Anda.</p>
                    </div>
                    <div class="col sub-faq">
                        <p class="title-sub">Apakah Gotjeh memfasilitasi pekerjaan full-time?</p>
                        <p class="ds-sub">Untuk saat ini Gotjeh hanya memfasilitasi pekerjaan freelance.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col sub-faq">
                        <p class="title-sub">Bagaimana cara saya untuk mengunggah pekerjaan ke Gotjeh?</p>
                        <p class="ds-sub">Ketuk “Posting Pekerjaan Baru” yang berada pada halaman awal.</p>
                    </div>
                    <div class="col sub-faq">
                        <p class="title-sub">Apakah Gotjeh menyediakan kursus yang gratis?</p>
                        <p class="ds-sub">Klik tombol “Post a Job” di halaman beranda.</p>
                    </div>
                </div>
                <p class="ask">Jika masih ada pertanyaan yang belum terjawab, silahkan hubungi kami<br>melalui e-mail di
                    <a href="mailto: support@gotjeh.com">support@gotjeh.com</a></p>
            </div>
        </div>
    </div>
    <!-- End of F.A.Q -->

    <%- include("../partials/footer.ejs") %>
</body>

</html>